/*
  ===========================
  BOX MODEL HACK
  ===========================
*/

* {
     box-sizing: border-box;
}

/*
  ===========================
  CLEARFIX HACK
  ===========================
*/

.clearfix:before, .clearfix:after {
     content: "";
     display: block;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clearfix:after {
     clear: both;
}

.clearfix {
	clear: both;
     *zoom: 1;
}

/*
  ===========================
  BASE STYLES
  ===========================
*/
body {
  width: 100%;
}

body > * {
  width: 100%;
  text-align: center;
  padding: .5rem;
}

/*
  ===========================
  LAYOUT
  ===========================
*/

h1 {
  font-size: 5rem;
  padding: 2rem 0;
  color: red;
}

h2 {
  padding: 0 0 1.5rem 0;
}

h3 {
  padding: 1rem 0;
  text-decoration: underline;
  font-size: 1.5rem;
}

h4 {
  padding: 1rem 0 .5rem 0;
}

h5 {
  padding: .5rem 0;
}

p {
  padding: .25rem 0;
}

.villain-list {
  column-count: 4;
  margin: 0 auto;
}

li {
  padding: .2rem 0;
}

strong {
  font-weight: bold;
  line-height: 1.5rem;
}

em {
  color: red;
}

table {
  width: 45rem;
  margin: 1rem auto .5rem auto;
}

th {
  font-size: 1.25rem;
  font-weight: bold;
  border: .5px solid black;
  padding: .5rem;
}

td {
  border: .5px solid black;
  padding: .25rem;
}

#sample-code {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 48rem;
  margin: 0 auto;
  padding-top: 1rem;
}

#sample-code li {
  text-align: left;
}

@media all and (max-width: 760px) {
  .villain-list {
    column-count: 3;
  }
  table {
    width: 32rem;
  }
  #sample-code {
    width: 80%;
  }
}

@media all and (min-width: 760px) {
  .villain-list {
    width: 48rem;
  }
}